body {
    > #passkey-icon {
        display: none;
    }

    > main {
        > section {
            display: block;

            > .buttons-container {
                display: grid;
                gap: 1rem;

                align-items: flex-start;

                > altshift-button {
                    width: auto;

                    > * {
                        padding: 0;
                    }

                    > div {
                        display: inline-flex;
                        align-items: center;
                        gap: 0.703125rem;

                        padding: 0.703125rem 0.84375rem;

                        > svg {
                            width: 1.40625rem;
                            height: 1.40625rem;
                            flex-shrink: 0;
                            display: inline-block;
                        }

                        > span {
                            line-height: 1;
                        }
                    }
                }
            }
        }
    }

    > #register-passkey-dialog {
        max-width: 80ch;

        > form {
            display: grid;
            gap: 1em;

            > .label-container {
                display: grid;
            }

            > .buttons-container {
                display: flex;
                justify-content: flex-end;
                gap: 1em;
            }
        }
    }
}

